/**
 * editor.css
 * Version    : 1.3.1
 * Author     : inc2734
 * Created    : September 23, 2014
 * Modified   : June 4, 2016
 * License    : GPLv2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/** ==================================================
 * #normal-sortables
 */
.smart-cf-meta-box {
	margin: 0 -12px;
}

/** ==================================================
 * .smart-cf-meta-box-table
 */
.smart-cf-meta-box-table {
	background: #fff;
	border-bottom: #eee solid 1px;
	padding: 10px 12px;
}
.smart-cf-meta-box-table table {
	width: 100%;
}
.smart-cf-meta-box-table th,
.smart-cf-meta-box-table td {
	font-weight: normal;
	text-align: left;
	padding: 7px 5px;
	vertical-align: top;
}
.smart-cf-meta-box-table th {
	width: 25%;
}
.smart-cf-meta-box-table td label {
	margin-right: 10px;
}
.smart-cf-meta-box-table .wp-editor-tools:after {
	display: block;
}
.smart-cf-meta-box-table .wp-editor-container {
	clear: both;
}
.smart-cf-meta-box-table td .instruction {
	font-size: 14px;
	margin: 0 0 10px;
}
.smart-cf-meta-box-table td .description {
	font-size: 12px;
	margin: 10px 0 0;
	color: #888;
}
.smart-cf-meta-box-table td .clear {
	clear: both;
}

/** ==================================================
 * .smart-cf-meta-box-repeat-tables
 */
.smart-cf-meta-box-repeat-tables .smart-cf-meta-box-table > .smart-cf-icon-handle,
.smart-cf-meta-box-repeat-tables .smart-cf-meta-box-table > .smart-cf-repeat-btn {
	position: relative;
	top: 3px;
	vertical-align: middle;
}
.smart-cf-meta-box-repeat-tables .smart-cf-repeat-btn {
	cursor: pointer;
	width: auto;
	height: auto;
	font-size: 1.3em;
	padding: 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #999;
	margin-right: 3px;
}
.smart-cf-meta-box-repeat-tables .smart-cf-icon-handle:hover,
.smart-cf-meta-box-repeat-tables .smart-cf-repeat-btn:hover {
	color: #333;
}
.smart-cf-meta-box-repeat-tables table {
	margin-top: 7px;
}

/** ==================================================
 * relation
 */
.smart-cf-meta-box-table .smart-cf-relation-left,
.smart-cf-meta-box-table .smart-cf-relation-right {
	border: #ddd solid 1px;
	border-radius: 3px;
	height: 160px;
}
.smart-cf-meta-box-table .smart-cf-relation-left ul,
.smart-cf-meta-box-table .smart-cf-relation-right ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.smart-cf-meta-box-table .smart-cf-relation-left ul li,
.smart-cf-meta-box-table .smart-cf-relation-right ul li {
	background: #fff;
	border-bottom: #eee solid 1px;
	color: #999;
	margin: 0;
	padding: 5px 10px;
	position: relative;
}
.smart-cf-meta-box-table .smart-cf-relation-left ul li[data-status="publish"],
.smart-cf-meta-box-table .smart-cf-relation-right ul li[data-status="publish"] {
	color: #0074a2;
}
.smart-cf-meta-box-table .smart-cf-relation-left ul li::after,
.smart-cf-meta-box-table .smart-cf-relation-right ul li::after {
	content: attr(data-status);
	display: inline-block;
	background-color: #999;
	color: #fff;
	border-radius: 4px;
	padding: 0 3px;
	font-size: 10px;
	margin-left: .5em;
	position: relative;
	top: -1px;
}
.smart-cf-meta-box-table .smart-cf-relation-left ul li[data-status="publish"]::after,
.smart-cf-meta-box-table .smart-cf-relation-right ul li[data-status="publish"]::after {
	display: none;
}
.smart-cf-meta-box-table .smart-cf-relation-left {
	float: left;
	width: 47%;
	overflow: hidden;
}
.smart-cf-meta-box-table .smart-cf-relation-left .smart-cf-search {
	background-color: #f5f5f5;
	border-bottom: 1px solid #eee;
	padding: 5px;
}
.smart-cf-meta-box-table .smart-cf-relation-left .smart-cf-relation-children-select {
	overflow: auto;
	height: 122px;
}
.smart-cf-meta-box-table .smart-cf-relation-left ul li {
	cursor: pointer;
}
.smart-cf-meta-box-table .smart-cf-relation-left ul li:hover {
	background: #e4f6fd;
}
.smart-cf-meta-box-table .smart-cf-relation-left .load-relation-items {
	background: #e4f6fd;
	cursor: pointer;
	margin: 0;
	padding: 6px 10px;
	text-align: center;
}
.smart-cf-meta-box-table .smart-cf-relation-left .load-relation-items:hover {
	background: #c1ebfc;
}
.smart-cf-meta-box-table .smart-cf-relation-right {
	float: right;
	width: 50%;
	overflow: auto;
}
.smart-cf-meta-box-table .smart-cf-relation-right ul li {
	padding-right: 30px;
	padding-left: 30px;
}
.smart-cf-meta-box-table .smart-cf-relation-right ul li .smart-cf-icon-handle {
	position: absolute;
	top: 4px;
	left: 5px;
	margin: 0;
}
.smart-cf-meta-box-table .smart-cf-relation-right ul li .relation-remove {
	cursor: pointer;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12px;
	width: 12px;
	line-height: 1;
	border-radius: 3px;
	position: absolute;
	top: 7px;
	right: 6px;
	color: #fff;
	background-color: #32373c;
}

/** ==================================================
 * .smart-cf-upload-image, .smart-cf-upload-file
 */
.smart-cf-upload-image,
.smart-cf-upload-file {
	display: inline-block;
	position: relative;
}
.smart-cf-upload-image img,
.smart-cf-upload-file img {
	margin-top: 5px;
	max-width: 100%;
	vertical-align: top;
}
.smart-cf-upload-image .btn-remove-image,
.smart-cf-upload-file .btn-remove-file {
	background: red;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 10px;
	padding: 2px 6px;
	position: absolute;
	left: 5px;
	bottom: 5px;
}

/** ==================================================
 * .hide
 */
.smart-cf-upload-image.hide,
.smart-cf-upload-file.hide,
.smart-cf-upload-image .btn-remove-image.hide,
.smart-cf-upload-file .btn-remove-file.hide,
.load-relation-items.hide {
	display: none;
}

/** ==================================================
 * classes
 */
.smart-cf-icon-handle {
	cursor: move;
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
	color: #CCC;
}

.smart-cf-item-vertical {
	display: block;
	margin: 0 0 3px;
}
